@import 'partials/_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Common
body {
    background-color: #fff;
    color: $font-darkgrey;
    font-family: $font-nunito;
    font-weight: 200;
    min-height: 100vh;
}
.container{
    width: 80%;
    height: 100%;
    max-width: 1170px;
    margin: auto;
}
h1{
    margin: 20px 0 40px 0;
}
p{
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 20px;
}
a{  
    display: inline-block;
    text-decoration: none;
    color: $font-dark;
    font-size: 16px;
}
//btn
.btn{
    width: max-content;
    background-color: $background-btn;
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-nunito;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
        background-color: $background-btn-hover;
    }
}

//Structure

#header{
    width: 100%;
    height: 100px;
    position: fixed;
    background: $gradient-header-a;
    background: $gradient-header-b;
    .navbar{
        width: 100%;
        height: 100%;
        display: flex;
        .logo{
            width: 30%;
            display: flex;
            align-items: center;
        }
        .menu{
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                list-style: none;
                a{
                    font-family: $font-nunito;
                    font-weight: 600;
                    font-size: 20px;
                    color: $font-darkgrey;
                    text-decoration: none;
                    margin-right: 20px;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $font-darkgrey;
                    }
                }
            }
            li:last-child{
                a{
                    margin-right: 0;
                }
            }
        }
    }
}
#main{
    min-height: 100vh;
    padding: 100px;
    img.cover{
        max-width: 300px;
    }
}

#footer{
    height: 200px;
    background: $background-darkgrey;
}

//Admin

.index{
   border: 1px solid $border-grey;
   td{
       border: 1px solid $border-lightgrey;
        padding: 10px;
   } 
}

.edit-create{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    input[type="text"], textarea{
        width: 100%;
        height: 40px;
        font-family: $font-nunito;
        margin-bottom: 20px;
        border: 1px solid $border-lightgrey;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
    }
    textarea#body{
        min-height: 300px;
    }
}

.alert{
    color: $color-alarm;
    background: $background-alarm;
    ul{
        li{
            list-style: none;
            margin-bottom: 10px;
            &::before{
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f071";
                margin: 0 10px;
            }
        }

    }
}

.show{
    width: 100%;
    height: 100%;
    img{
        width: 400px;
        margin-bottom: 20px;
    }
}

