@import 'partials/_variables.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Common
body {
    background-color: #fff;
    color: $font-darkgrey;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}
.container{
    width: 80%;
    height: 100%;
    max-width: 1170px;
    margin: auto;
}
h1{
    margin: 20px 0 40px 0;
}

//Structure

#header{
    width: 100%;
    height: 100px;
    position: fixed;
    background: #aa77dd;
    .navbar{
        width: 100%;
        height: 100%;
        display: flex;
        .logo{
            width: 30%;
            display: flex;
            align-items: center;
        }
        .menu{
            width: 70%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                list-style: none;
                a{
                    font-family: 'Nunito', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    color: $font-darkgrey;
                    text-decoration: none;
                    margin-right: 20px;
                    border-bottom: 1px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $font-darkgrey;
                    }
                }   
            }
        }
    }
}
#main{
    min-height: 100vh;
    padding: 100px;
}

#footer{
    height: 200px;
    background: #333;
}

