@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  min-height: 100vh;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1170px;
  margin: auto;
}

h1 {
  margin: 20px 0 40px 0;
}

p {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #11898d;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1ecdd3;
}

#header {
  width: 100%;
  height: 100px;
  position: fixed;
  background: #aa77dd;
}

#header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
}

#header .navbar .logo {
  width: 30%;
  display: flex;
  align-items: center;
}

#header .navbar .menu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header .navbar .menu li {
  list-style: none;
}

#header .navbar .menu li a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
}

#header .navbar .menu li a:hover {
  border-bottom: 2px solid #333;
}

#main {
  min-height: 100vh;
  padding: 100px;
}

#footer {
  height: 200px;
  background: #333;
}

.index {
  border: 1px solid #888;
}

.index td {
  border: 1px solid #aaa;
  padding: 10px;
}

.edit-create {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-create input[type=text],
.edit-create textarea {
  width: 100%;
  height: 40px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.edit-create textarea#body {
  min-height: 300px;
}

.alert {
  color: red;
  background: #fab0c9;
}

.alert ul li {
  list-style: none;
  margin-bottom: 10px;
}

.alert ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F071";
  margin: 0 10px;
}

.show {
  width: 100%;
  height: 100%;
}

.show img {
  width: 400px;
  margin-bottom: 20px;
}

