//colors

// font-colors
$font-darkgrey: #333;
$font-dark: #000;
$color-alarm: red;
// background-colors
$background-darkgrey: #333;
$background-header:#aa77dd;
$background-btn-hover: #1ecdd3;
$background-btn: #11898d;
$background-alarm: rgb(250, 176, 201);
// border-colors
$border-lightgrey: #aaa;
$border-grey: #888;


//fonts
$font-nunito: 'Nunito', sans-serif;


//gradients

$gradient-header-a: rgb(2,0,36);
$gradient-header-b: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,49,99,1) 35%, rgba(229,43,80,1) 100%);
